.App {
  padding: 5px;
  margin: 10px;
}

.ReadMore_Editor_Contianer {
  width: 40%;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
}

.Basic_Editor_Contianer {
  width: 40%;
  height: fit-content;
  min-height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
}

